<%- include('partials/layout.ejs') %>
<title><%=article.title%></title>
<style>
    img{
        height: 400px;
    }
    @media(max-width: 700px) {
        img{
        height: 250px;
        }
}
</style>

<div class="container">
    
    <img src="<%=article.image%>" class="mb-4 mt-4" alt="<%=article.title%>">
    <h3 class="mt-4 mb-4"><%=article.title%></h3>
    <%-article.body%>
    <hr>
    <h5><i class="fa fa-user"></i> <%=author%></h5>
    
    <p><i class="fa fa-calendar"></i> <%= article.createdAt.toDateString() %></p>
    <a href="/" class="btn btn-primary mb-4">View Other Posts</a>
    <%if (user) { %>
    <a href="/articles/edit/<%=article._id%>" class="btn btn-secondary mb-4">Edit Post</a>
    <a href="#" class="btn btn-danger delete-article mb-4" data-id="<%=article._id%>">Delete Post</a>
    <% } %>

    

</div>



