<%- include('partials/layout.ejs') %>
<title><%=article.title%></title>
<style>
    img{
        height: 350px;
    }
    p{
    font-size: 20px;
    }
    @media(max-width: 700px) {
        img{
        height: 200px;
        }
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <img src="<%=article.image%>" class="mt-4" alt="<%=article.title%>">
            <h3 class="mt-4 mb-4"><%=article.title%></h3>
            
                <p style="font-size: 18px;"><i class="fa fa-user"></i> By <strong><%= article.writer %></strong></p>
                <p style="font-size: 18px;"><i class="fa fa-calendar"></i> <%= article.postDate %></p>
            
            <%-article.body%>
            <hr>
            
            <a href="/" class="mb-4 mt-4" style="font-size: 23px; margin-bottom: 40px;">Read More Posts <i
                    class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
            <%if (user) { %>
            <a href="/articles/edit/<%=article._id%>" class="btn btn-secondary mb-4">Edit Post</a>
            <a href="#" class="btn btn-danger delete-article mb-4" data-id="<%=article._id%>">Delete Post</a>
            <% } %>
        </div>
        <div class="col-sm-2">
        
            

        </div>
        
    </div>
    

    

</div>

<div style="margin-top:40px;">
<%- include('partials/footer.ejs') %>
</div>




