<%- include('partials/layout.ejs') %>
<title><%=article.title%> | Bluenovate</title>
<style>
    body{
        background-color: #f1f1f1;
    }
    img{
        height: 350px;
    }
    p{
    font-size: 19px;
    }
    .link-item{
        padding-left:0px;
    }
    .link-item:hover{
        padding-left: 20px;
        transition: all 0.5s;

    }
    .post-body{
    background-color: white;
    margin-top: 45px;
    border-radius: 9px;
    }
    .side{
        margin-top:45px;
    }

    @media(max-width: 700px) {
        img{
        height: 200px;
        }
}
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-9 post-body">
            <img src="<%=article.image%>" class="mt-4" alt="<%=article.title%>">
            <h3 class="mt-4 mb-4"><%=article.title%></h3>
            
                <p style="font-size: 18px;"><i class="fa fa-user"></i> By <strong><%= article.writer %></strong> Under
                    <strong><%= article.category %></strong></p>
                <p style="font-size: 18px;"><i class="fa fa-calendar"></i> <%= article.postDate %></p>
            
            <%-article.body%>
            <hr>
            
            
            
            
            
            <%if (user) { %>
            <a href="/articles/edit/<%=article._id%>" class="btn btn-secondary mb-4">Edit Post</a>
            <a href="#" class="btn btn-danger delete-article mb-4" data-id="<%=article._id%>">Delete Post</a>
            <% } %>
        </div>
        <div class="col-lg-3">
            

            <div class="side">
                <h3 class="mt-4">Topics</h3>
            </div>
            
            <b>
                <ul class="list-group">
                    
                    <li class="list-group-item">
                        <a href="/healthandbeauty">
                            <p class="link-item">
                                Health And beauty
                            </p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/entertainment">
                            <p class="link-item">
                                Entertainment
                            </p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/food_and_dishes">
                            <p class="link-item">
                                Food And Dishes
                            </p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/lifestyle">
                            <p class="link-item">
                                Life Style
                            </p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/technology_and_webdevelopment">
                            <p class="link-item">
                                Technology And Web Development
                            </p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/gaming_and_fiction" >
                            <p class="link-item">
                                Gaming And Fiction
                            </p>
                        </a>
                    </li>
                    
                </ul>
                <div class="side">
                    <h3 class="mt-4">Recommended Reads For You</h3>
                </div>

                <b>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="<%=article.nextLinkOne%>">
                                <p class="link-item">
                                    <%=article.nextTitleOne%>
                                </p>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="<%=article.nextLinkTwo%>">
                                <p class="link-item">
                                    <%=article.nextTitleTwo%>
                                </p>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="<%=article.nextLinkThree%>">
                                <p class="link-item">
                                    <%=article.nextTitleThree%>
                                </p>
                            </a>
                        </li>

                    </ul>
                
            </b>
            <div style="margin-top: 40px; align-items: center; text-align: center; justify-content: center;">
                <a href="/allposts" class="mb-4 mt-4 btn"
                    style="font-size: 23px; margin-bottom: 40px; color: #022d5a;">View
                    All
                    Posts <i class="fa fa-chevron-right" style="color:#022d5a;"></i><i class="fa fa-chevron-right"
                        style="color:#022d5a;"></i></a>
            </div>
           
            
            

        </div>
        
    </div>
    

    

</div>

<div style="margin-top:40px;">
<%- include('partials/footer.ejs') %>
</div>




